<module xmlns="urn:jboss:module:1.1" name="com.sun.jaxpri">
    <resources>
        <resource-root path="jaxp-ri-1.4.5.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
       <module name="nu.xom"/>
       <module name="org.apache.xerces"/>
       <module name="javax.api" />
    </dependencies>

</module>
